.backgroundImageLogin {
    background-image: url('/svg/Login.svg');
    background-size: cover; /* O 'contain' según lo que necesites */
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* o 100vh */
}
.backgroundImageRegister {
    background-image: url('/svg/Register.svg');
    background-size: cover; /* O 'contain' según lo que necesites */
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* o 100vh */
}