.backgroundImage {
  background-image: url('/svg/homebg.svg');
  background-size: cover; /* O 'contain' según lo que necesites */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura completa */
}