.backgroundImage {
  background-image: url('/svg/Home.svg');
  background-size: cover; /* O 'contain' según lo que necesites */
  background-position: center;
  background-repeat: no-repeat;
  height: auto; /* Altura completa */
}

.backgroundPerfil{
  background-image: url('/svg/Perfil.svg');
  background-size: cover; /* O 'contain' según lo que necesites */
  background-position: center;
  background-repeat: no-repeat;
  height: auto; 
}
.backgroundImage2 {
  background-image: url('/svg/Home.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.input {
  user-select: none; /* Deshabilitar la selección de texto */
}