/* Estilos para los círculos */
.circle {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    width: 100px;
    height: 100px;
    background-color: #FFBF69;
    top: 20%;
    left: 10%;
}

.circle2 {
    width: 150px;
    height: 150px;
    background-color: #CBF3F0;
    top: 30%;
    left: 60%;
}

/* Agrega más círculos según sea necesario */
